
.container {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6; /* Fundo claro */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .formulario {
    background-color: white; /* Fundo branco para o conteúdo */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave ao redor do formulário */
    width: 100%;
    max-width: 500px; /* Largura máxima */
    box-sizing: border-box;
  }
  
  .titulo {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaçamento entre os campos */
  }
  
  .label {
    font-size: 16px;
    color: #333;
  }
  
  .input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
  
  .input:focus {
    border-color: #4e90f5; /* Cor do contorno ao focar */
  }
  
  .botao {
    padding: 12px;
    background-color: #4e90f5;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .botao:hover {
    background-color: #3578d2; /* Cor do botão ao passar o mouse */
  }
  
  .botao:active {
    background-color: #285a9d; /* Cor ao clicar no botão */
  }
  
  .mensagemErro {
    text-align: center;
    color: red;
    margin-top: 20px;
    font-size: 14px;
  }
  
  /* Mensagem de erro */
.mensagemErro {
  text-align: center;
  color: red;
  margin-top: 20px;
  font-size: 14px;
}

/* Mensagem de agradecimento após feedback */
.mensagemAgradecimento {
  text-align: center;
  color: #28a745; /* Cor verde para agradecimento */
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}

.feedbackContainer {
  margin-top: 30px; /* Espaçamento entre o formulário e o feedback */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espaçamento entre o campo de feedback e o botão */
}